/*                                      بسم الله الرحمن الرحيم* /

/*                     Main                      */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}
a {
    text-decoration: none !important;
}
li {
    list-style: none !important;
}


.ads{
    width:42%;
    height: 50vh;
    padding:25px 15px;
    background-image: url(gallery5.jpg);
    background-size:cover;
    margin:auto;
    position:relative;
    opacity: 0.8;
    left: 300px;
    top:-600px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid lightgray;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 13%), 0 2px 10px 0 rgb(0 0 0 / 20%);
    margin:auto;
    z-index: -1;
}
.closeads{
    position:absolute;
    top:5px;
    right:5px;
    cursor:pointer;
    z-index: 0;

}
.label-form {
    font-size: 18px;
    color:#d63384;
    font-weight: 600;
}
.register-page {
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    box-shadow: 5px 5px #888888;
    border-radius: 10%;
    padding: 70px;
    width: 40%;
    text-align: center;
    margin-top: 15%;

}
.reg-input {
    padding: 10px 50px;
    color: red;
    display: block;
    width: 90%;
    margin: 4% auto;
    text-align: center;
    border: 1px solid black;
    transition: border 0.3s;

}
.reg-input:hover {
    border: 1px solid skyblue;
}
.reg-input:focus {
    border: 1px solid blue;
}
.error {
    display:inline;
}
.top{
    font-size:30px;
    position:fixed;
    right:25px;
    bottom:50px;
    display:none;
    background-color: white;
    color:black;
    transition-duration: 0.3s;
    z-index: 150;
}
.top:hover {
    cursor: pointer;
    background-color: white;
}
.video {
    background-color: #F7F3F3;
    padding: 75px 0;
    margin-bottom: 100px;
    border-radius: 17%;
}
.video h4 {
    left: 45%;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin-top: 40px;
    padding: 40px 0;
    position: absolute;
}
.video-sections {
    margin-top: 50px;
    padding: 30px 0px;
    text-align: center;
    display: flex;
    width: 100%;
    position: relative;
}
.pd-y {
    /* For padding all the div */

    padding: 50px 0px;
}
.mg-y {
    margin-top: 100px;
}

.container {
    
    width: 90%;
    margin: auto;
}
.overlay {
        position: fixed;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4); 
        line-height: 1.5;
        z-index: 1000;

}
.adss{
    position: absolute;
    right: 100px;
    top: -300px;
}
.adsz {
    position:absolute;
    top: 0;
    left: 0;
}


/*          Register */

.btn-register {
    margin-top: 5px;
    margin-bottom: 10px;
}
/*                   LoginPage */
.login-page {
    width: 800px;
    background-image: url(banner.jpg);
    box-sizing: border-box;
    text-align: center;
    border: 1px solid lightgray;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 13%), 0 2px 10px 0 rgb(0 0 0 / 20%);
    position: relative;
    margin:auto;
    opacity: 0.8;
    margin-bottom: 80px;
    padding: 32px 5px;
    z-index: 100;
}
.login-page input {
        text-align: left;
        padding: 15px 40px;
        box-sizing: border-box;
        border: 3px solid #ccc;
        transition: border 0.5s;
        margin-top: 15px;
        width: 50%;

    }
    .login-page p i { margin-left: 4px; }
    .login-page input:hover { border: 3px solid #555; }
    .login-page .btn-login{
        margin-top: 30px;
        border: 0;
        cursor:pointer;
        font-size: 17;
        text-align: center;
        display: block;

        
    }
    .btn-login {

        margin-top: 1px;
        margin-bottom: 10px;
        width: 20%;
        margin: auto;
    }
    .login-page p {
        
        text-align: center;
        color: whitesmoke;
        margin: 20px 0 10px 0;
    }
  
    .login-page a {
        text-align: center;
        text-decoration-line: none;
        color: white;
        font-size: 26px!important;
    }
    .login-page a img {transition-duration: 0.3s;}
    .login-page a img:hover  {
        opacity: 1;
        transform: scale(1.12,1.12);
        
    }
    
    .login-page h4 {
        color:whitesmoke;
    }
.pop-exit {  
    position: absolute;
    left: 90%;

}
.pop-exit:hover { cursor: pointer;}



/*               Common             */
/*              Title of the Sections            */
.section-title {
    color: #ee626b;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}
.section-desc {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 44px;
}
/* .section-header .section-line {
    margin: 16px auto 35px auto;
    display: block;
    height: 3px;
    width: 30px;
    background-color: crimson;

} */
.jm-input {
    max-width: 100%;
    width: 90%;
    height: 50px;
    outline: none;
    border-radius: 25px;
    background-color: #fff;
    border: 1px solid;
    padding: 0px 25px;
    font-size: 14px;
    color: #7a7a7a;
    font-weight: 400;
    line-height: 1.5;
    transition: border .15s ease-in-out;
}
.jm-input:focus {
    border: 4px solid lightblue;
    
}
.jm-button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    background-color: #ee626b;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 26px;
    border: none;
    border-radius: 23px;
    transition-duration: 0.3s;
}
.jm-button:hover {
    background-color: red;
}
/* PreLoader */

.preloader
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 9999;
    text-align: center;
}
.preloader-icon
{
    position: relative;
    top: 30%;
    width: 200px;
    border-radius: 50%;
    animation: shake 1.5s infinite;
}
@keyframes shake
{
0% { transform: translate(1px, -1px) rotate(0deg);}
10% { transform: translate(1px, -3px) rotate(-1deg);}
20% { transform: translate(1px, -5px) rotate(-3deg);}
30% { transform: translate(1px, -7px) rotate(0deg);}
40% { transform: translate(1px, -9px) rotate(1deg);}
50% { transform: translate(1px, -11px) rotate(3deg);}
60% { transform: translate(1px, -9px) rotate(0deg);}
70% { transform: translate(1px, -7px) rotate(-1deg);}
80% { transform: translate(1px, -5px) rotate(-3deg);}
90% { transform: translate(1px, -3px) rotate(0deg);}
100% { transform: translate(1px, -1px) rotate(-1deg);}
}



/*                          First Section                               */
/*                               Nav-bar (First Section)                 */
.contact-page {
    background-image: url(banner.jpg);
    border-radius: 0px 0px 150px 150px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
    color: white;
    width: 100%;
}

.jm-firstsec {
    background-image: url(banner.jpg);
    border-radius: 0px 0px 150px 150px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 225px 0px;
    color: white;
    width: 100%;

}

.header-area {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}
.jm-navbar {
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    z-index: -1000;


}

/*  Screen Media Query (Mob & Tab) */

.navbar-ul {
    display: flex;
    color: white;
    flex-wrap: wrap;
    list-style: none;
    position: relative;

}

.navbar-ul li {

    list-style: none;
    margin: 20px 0 0 0px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;

}
.navbar-link, .active-link, .main-link  {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 9px 16px;
    border-radius: 30px;
    transition: background-color 0.3s;

}
.main-link {
    background-color: rgba(255, 255, 255, 0.10);
    /* padding: 9px 16px; */
    border-radius: 30px;
    color:white;
    position: relative;
}
.active-link {
    font-weight:600;
    background-color:  #ee626b;
    border-radius: 30px;
    text-transform: uppercase;
    /* padding: 10px 14px; */
}
.navbar-link:hover{
    background-color: rgba(255, 255, 255, 0.12);
    color:white;
}
.active-link:hover, .main-link:hover { color:white; }



/*      Responsive Navbar */
.icons li {
    background: none repeat scroll 0 0 white;
    height: 4px;
    width: 40px;
    line-height: 0;
    list-style: none outside none;
    margin-right: 15px;
    margin-top: 4px;
    color: white;
    pointer-events: none;
}
.home-link li {
    list-style: none;
    margin-top: 4px;
}
.respon-dropdown {
    display: flex;
    justify-content: space-between;
}
.respon-dropbtn {
    position: absolute;
    right: -60px;
    top: 26px;
    display: none;

}
/* Responsive Media For Navbar */
@media screen and (min-width:769px) {
    .navbar-ul {
        display: flex;
        color: white;
        flex-wrap: wrap;
        list-style: none;
        position: relative;
    }
}
@media screen and (max-width:768px) {
    .navbar-link, .active-link {
        display: none;
    }
    .main-link {
        margin-right: 100px;
    }
    .respon-dropbtn {
        display: inline-block;
    }
}
@media screen and (max-width:562px) {
    .navbar-link, .active-link {
        display: none;
    }
    .main-link {
        margin-right: 10px;
    }
    .respon-dropbtn{
        display: inline-block;
        right: 0;
    }
}



/*                              Details (First-Section)                     */

.fs-details {
    display: flex;
    justify-content: space-between;
    z-index: 50;
}

/*          Screen Media Query      */
@media screen and (max-width:768px) {

    .fs-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 50px;
        padding: 30px 0;
        width: 90%;

    }
    .fs-right {
        margin-top: 50px;
        padding: 30px 0;
        text-align: center;
    }
  }


.fs-left { margin-top: 30px; }
.fs-left h6 {
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
}
.fs-left h1 {
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 15px;
    padding-bottom: 4px;
    position: relative;


}
.fs-left h1:after {
    position: absolute;
    background-image: url(caption.png);
    width: 202px;
    height: 12px;
    content: '';
    left: 125px;
    bottom: 0;
}
.fs-left p {
    font-size: 15px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 60px;

}

#search-form { position: relative; 
}
/* .fs-search-input input {
    width: 99%;
    height: 50px;
    outline: none;
    border-radius: 23px;
    background-color: #fff;
    border: none;
    padding: 0px 25px;
    font-size: 14px;
    color: #7a7a7a;
    transition-duration: 0.3s;
} */
.search-list {
    display: flex;
    justify-content: space-between;
}
.search-list p  {
    color: white;
    margin-top: 10px;
    font-weight: 500;
    margin-left: 25px;
    font-size: 19;
}
.search-list a {
    color: white;
    margin-top: 8px;
    font-weight: 500;
    margin-right: 20px;
    font-size: 19;
    transition-duration: 0.2s;
}
.search-list a:hover {
    color: red;

}
.search-btn {
    position: absolute;
    right: 0;
    top: 0;
}
/* .fs-search-input input:hover {
    border: 1px solid black;

} */
.right-image img {
    transition-duration: 0.4s;
}
.right-image img:hover {
    transform: scale(1.12,1.12);
}
.jm-navbar-logo img {
    transition-duration: 0.4s;
}
.jm-navbar-logo img:hover {
    transform: scale(1.12,1.12);
}
/*              Feature          */
.features {   /* To be sticked over banner */
    margin-top: -70px;
}
.features-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    
}
.item {
    padding: 34px 70px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
    margin-left: 30px;
    
}


/*          Screen Media Query   (Mobile)   */
@media screen and (max-width: 486px) {
    .features-item {
        width: 70%;
        margin-top: 20px;
    }
    .features-row {
        margin-top: 70px;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
}

/*          Screen Media Query (Tablet)             */
@media screen and (min-width:487px) and (max-width: 786px) {
    .features-item {
        width: 75%;
        margin-top: 20px;
    }
    .features-row {
        margin-top: 40px;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/*  Screen Media Query PC */
@media screen and (max-width: 1079px) {
    .features-row {
        flex-wrap:wrap;
    }
}
.features-item a { 
    text-decoration: none;
    
}
.features-item a:hover .item-image { background-color: #d63384; }
.item-image {  /* Div of the image */
    width: 90px;
    height: 90px;
    display: inline-block;
    text-align: center;
    line-height: 90px;
    background-color: #0071f8;
    border-radius: 50%;
    transition-duration: 0.3s;
}
.item img {  /* Image */
    max-width: 44px; /* Leeh 3mlna hna el width da max? */
    width: 100%;
    overflow: hidden;
}



.item h4 {
    font-size: 17px;
    margin-top: 25px;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-weight:800;
    color: #1e1e1e;

}




/*                                    Trending (Second Section)           */
.jm-secondsec {
    background-color: #F7F3F3;
    padding: 75px 0;
    margin-bottom: 100px;
    border-radius: 17%;
}
.trending-section {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trending-comp {
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    width: 100%;
    
}
.trending-item {
    background-color: #E3E2E2;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 30px;
    width: 23%;
    opacity:0.92;
    transition-duration: 0.4s;

}

/*              Screen Media         */
@media screen and (max-width: 523px) {
    .trending-section {
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .trending-comp {
        text-align: center;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .trending-item {
        width: 60%;
        margin-top: 10px;
    }
    
}

.trending-item:hover {
    transform: scale(1.1, 1.1);
    opacity:1;
}
.trending-item:hover .trending-desc h6 {
    color: purple;
}
.trending-title {
    margin-bottom: 50px;
}
.trending-item a {
    text-decoration: none;
    
}
.trending-item img { 
    width: 100%;
    overflow: hidden;
    border-radius: 25px;
}
.trending-desc {
    padding: 25px;
}

.trending-desc p {
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 5px;
    display: inline-block;

}
.trending-desc h6 {
    font-size: 17px;
    font-weight: 600;
    transition: all .3s;
    color: black;
}


/*                  PreOrder                 */

.preorder {
    position: relative;
}
.preorder::after {
    background-image: url(masked.png);
    background-size: cover;
    max-width: 530px;
    max-height: 510px;
    width: 100%;
    height: 90%;
    position: absolute;
    content: '';
    border-radius: 25px;
    left: 49%;
    transform: translateX(-275px);
    top:-60px;
    z-index: -1;
}
.preorder-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.preorder-shop {
    width: 39.66666667%;
    background-color: #f7f7f7;
    border-radius: 25px;
    padding: 70px;
    transition-duration: 0.3s;

}
.preorder-shop:hover {
    transform: scale(1.12);
}
.preorder-shop p, .preorder-news p {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 28px;
}
.preorder-shop h2,.preorder-news h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 44px;
    margin-bottom: 50px;
}
.preorder-btn1,.preorder-btn2 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
}

.preorder-news {
    background-color: #f7f7f7;
    border-radius: 25px;
    padding: 80px 60px;
    width: 39.66666667%;
    margin-top: 120px;
    transition-duration: 0.3s;

}
.preorder-news:hover {
    transform: scale(1.12);
}
.preorder-form {
    position: relative;
    max-width: 100%;
}
/* .preorder-input {
    max-width: 100%;
    width: 90%;
    height: 50px;
    outline: none;
    border-radius: 25px;
    background-color: #fff;
    border: none;
    padding: 0px 25px;
    font-size: 14px;
    color: #7a7a7a;
    font-weight: 400;
    line-height: 1.5;
} */
.preorder-btn2 {
    position: absolute;
    right: 0;
    top: -30px;

}

/*          Footer           */

footer {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(footer.jpg);
    padding: 50px 0;
}
footer p {
    text-align: center;
    line-height: 70px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}
footer p a {
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 3;
    text-decoration: none !important;
}
footer p a:hover {
    color:crimson;
}

/*      Footer */  
.unit-color { color: lightgray; }     
.row {
    margin-top: 20px;
}

.footer-para {
    margin-top: 14px;
    font-size: 16px;
    line-height: 1.9;
    text-align: left;
}
.footer-title {
    font-size: 19px;
    line-height: 1.5;
    font-weight: 500;
    margin-left: 27px;
}
.contact-box {
    margin-top: 14px;
}
.unit {
    display: flex;

}
.unit-body a { 
    color: lightgray; 
    font-size: 15px;
    transition: all ease-in-out;
    transition-duration: 0.3s;
}
.unit-body a:hover {
    color: white;
}
.unit-body {
    margin-bottom: 15px;
    margin-left: 12px;

}
.instagram-gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 241px;
    margin: 14px 0px -8px -8px;

}
.instagram-gallery > li {
    flex-basis: 33.333%;
    max-width: 33.333%;
    padding-left: 8px;
    padding-bottom: 8px;
    display: block;
}
.instagram-gallery li a img {
    transition-duration: 0.3s;
}
.instagram-gallery li a img:hover {
    transform: scale(1.11,1.11);
}
.footer-btn {
    margin-top: 20px;
}
.footer-icons {
    display: inline-block;
    vertical-align: middle;
}
.footer-icons a {
    margin-bottom: 10px;
    margin-left: 25px;
    font-size: 20px;
    line-height: 1;
    transition: all ease-in-out;
    transition-duration: 0.3s;
}
.footer-icons a:hover {
    color: white; 
}
.rights {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 40px;
}
/*              Java-CSS            */
